set nocompatible              " be iMproved, required
filetype off                  " required


" ====================================================================
set number
syntax on
set ic
set showcmd

" Highlight search
" set hls

" Wrap text instead of being on one line
set lbr

" Change colorscheme from default to delek
" colorscheme delek

set expandtab
set tabstop=4
set shiftwidth=4 softtabstop=4
set incsearch ignorecase hlsearch
" Press space to clear search highlighting and any message already displayed.
" nnoremap <silent> <Space> :silent noh<Bar>echo<CR>


" Indent automatically depending on filetype
"filetype indent on
"set autoindent
"set smartindent
"set autoread
"set cinoptions+=g0
"set cinoptions+=:0
"set formatoptions+=r
"set fileencodings=utf8,gbk


" window switching

let mapleader=' '

source $VIMRUNTIME/vimrc_example.vim
set clipboard=unnamed

nnoremap <silent> <Leader>su  :action FindUsages<CR>
nnoremap <silent> <Leader>sj  :action FileStructurePopup<CR>
nnoremap <silent> <Leader>/   :action FindInPath<CR>
nnoremap <silent> <Leader>rl  :action Refactorings.QuickListPopupAction<CR>
nnoremap <silent> <Leader>gi  :action GotoImplementation<CR>
inoremap <Esc> <Esc><Right>
